<div class="card shadow border-0">
  <div class="card-header">
    <div class="text-primary font-weight-bold">Packages Details</div>
  </div>
  <div class="card-body">
    <!-- <button type="button" class="btn btn-success" (click)="showForm()">
      Add
    </button> -->
  </div>
  <p-table #dt [rows]="10" [value]="packageDetails" [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="d-flex justify-content-between overflow-auto">
        <button type="button" class="btn btn-success" (click)="showForm(null)">
          Add
        </button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="Id">
          <div class="d-flex">
            <span>Id</span>
            <p-sortIcon field="Id"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="Name">
          <div class="d-flex">
            <span>Name</span>
            <p-sortIcon field="Name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="ColumnType">
          <div class="d-flex">
            <span>ColumnType</span>
            <p-sortIcon field="ColumnType"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="value">
          <div class="d-flex">
            <span>value</span>
            <p-sortIcon field="value"></p-sortIcon>
          </div>
        </th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-package>
      <tr>
        <td>{{ package?.id }}</td>
        <td>{{ package?.name }}</td>

        <td>{{ package?.columnType }}</td>
        <td>{{ package?.value }}</td>
        <td>
          <div class="d-flex gap">
            <button pButton pRipple icon="pi pi-pencil" (click)="showForm(package)"
              class="p-button-rounded p-button-warning p-mr-2"></button>
            <button pButton pRipple icon="pi pi-trash" (click)="onDelete(package.id)"
              class="p-button-rounded p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are
        {{ packageDetails ? packageDetails?.length : 0 }} Packages.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [header]="selectedd ? 'Edit Package Details':'Add Package Details'" [(visible)]="displayForm" [modal]="true"
  [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false"
  (onHide)="resetForm()">
  <form [formGroup]="packageForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="">المعيار</label>
      <p-dropdown [filter]="true" [options]="listCritaria" placeholder="Select Package " optionLabel="name"
        formControlName="crite" (ngModelChange)="modelSelected($event)"></p-dropdown>

      <div *ngIf="Crite.errors?.required && form.submitted" class="error-msg p-1 small" role="alert">
        <i class="fas fa-times-circle me-2"></i>
        Critaria is Required
      </div>
    </div>
    <!-- -------------------------bool---------------------------------------------- -->
    <div class="form-group">
      <div *ngIf="selected?.type == 'Bool'" class="col-6 my-3">
        <label class="fs-large d-block">القيمة</label>
        <p-inputSwitch formControlName="value"></p-inputSwitch>
        <div *ngIf="Value.errors?.required && form.submitted" class="error-msg p-1 small" role="alert">
          <i class="fas fa-times-circle me-2"></i>
          Value is Required
        </div>
      </div>
      <!-- ----------------------------text------------------------------------------- -->
      <div *ngIf="selected?.type == 'Text'">
        <input type="text" class="form-control" formControlName="value" placeholder="القيمة" />
        <div *ngIf="Value.errors?.required && form.submitted" class="error-msg p-1 small" role="alert">
          <i class="fas fa-times-circle me-2"></i>
          Value is Required
        </div>
      </div>
      <!-- -----------------------------date------------------------------------------ -->
      <div *ngIf="selected?.type == 'Date'">
        <input type="text" [placeholder]="'اختر'" class="form-control" bsDatepicker [attr.bsConfig]="{
            dateInputFormat: 'DD-MM-YYYY',
            containerClass: 'theme-default',
            isAnimated: true,
            showWeekNumbers: false
          }" />
      </div>
    </div>

    <hr />
    <div class="d-flex justify-content-center mt-3">
      <button type="submit" class="btn btn-success rounded-pill px-4">
        {{selectedd ? 'update':'Add'}}
      </button>
    </div>
  </form>
</p-dialog>
