.logo-preview {
  height: 110px;
  width: 280px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.img-fluid {
  height: 100%;
}

@media (min-width: 400px) {
  .d-xsm-inline {
    display: inline !important;
  }
}

.btn-outline-dark:hover .add-icon {
  fill: white !important;
}

.mat-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#notify-btn {
  background-image: url("../../../assets/images/icons/bell.svg") !important;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.notify-badge {
  width: 18px;
  height: 18px;
  background-color: #f74d4d;
  border-radius: 5rem;
  position: absolute;
  color: black;
  top: 2px;
  right: 1px;
  text-align: center;
  padding: 0;
  font-size: smaller;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
}

#info-btn {
  background: url("../../../assets/images/icons/question.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: 75%;
}

::ng-deep {
  html:lang(ar) #closeModel {
    margin: -0.5rem auto -0.5rem -0.5rem !important;
  }

  html:lang(ar) #closeModel {
    top: 0 !important;
    left: 0 !important;
    right: auto !important;
    transform: translate(-35%, -35%);
  }
}
#closeModel :focus,
#closeModel :hover {
  opacity: 1 !important;
}

.phone {
  fill: #d7be69;
}

.text-black {
  color: black;
}

#nav-tabContent {
  margin-top: 1rem;
  border-top: 1px dashed #cecece;
}

.nav-link {
  border: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: black;
  z-index: 1;
}

.nav-link.active {
  background-color: transparent;
  background-color: transparent;
}

.nav-link .num {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding: 6px;
  color: white;
  background-color: #eeeeee;
}

.line::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  height: 2px;
  width: 370%;
  background-color: #eeeeee;
  transform: translate(0, -50%);
  z-index: -1;
}

.finished .num {
  background-color: #77d656 !important;
}

.finished .num::after {
  background-color: #77d656;
}

.nav-link.active {
  color: #d7be69 !important;
}

.nav-link.active .num {
  background-color: #d7be69 !important;
}

.nav-link.active .num::after {
  background-color: #eeeeee;
}

::ng-deep {
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: #d7be69 !important;
  }
}

.row-gap {
  row-gap: 1rem;
}

#polls .card {
  min-height: 120px;
  cursor: pointer;

  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text-gray-500 {
  color: #b7b9cc !important;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}

.notifcations {
  h6 {
    padding: 1ex 2ex;
    background-color: #4e73df;
    margin: 0;
    color: white;
    border-start-end-radius: 5px;
    border-start-start-radius: 5px;
  }

  .notify {
    white-space: normal;
    padding-right: 2ex;
    padding-left: 2ex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;

    &:hover {
      background-color: #eaecf4;
      cursor: pointer;
    }

    .notifcation-vector {
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .notifcation-vector.task {
      background-color: #70cf98 !important;
    }

    .notifcation-vector.poll {
      background-color: #4e73df;
    }

    .notifcation-vector.details {
      background-color: #f7bf5c;
    }
  }

  .notify.seen {
    background-color: #eaecf4;
  }
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
}

.table-light {
  * {
    background-color: #eeeeee !important;
  }
}

.notifcations {
  height: 400px !important;
  overflow: auto;
  padding-inline-end: 0.5rem;
}

.avatar {
  width: 150px;
  height: 150px;
  background-color: #dbdbdb;
  position: relative;
  border-radius: 50%;
  margin: auto;
  margin-top: 1.5rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 108%;
  height: 108%;
  border: 3px solid #303030;
  z-index: -1;
}

.upload {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: large;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.avatar-circle {
  width: 45px;
  height: 45px;
  border: 1px solid #303030;
  background-size: cover !important;
  background-position: center !important;
  border-radius: 50%;
}
