<div class="card shadow border-0">
  <div class="card-header">
    <div class="text-primary font-weight-bold">Contact Us Messages</div>
  </div>
  <div class="card-body">
    <p-table #dt class="text-nowrap" [value]="listContact" [rows]="10" [paginator]="true" responsiveLayout="scroll"
      [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="Name">Name</th>

          <th pSortableColumn="Emali">Emali</th>

          <th pSortableColumn="Mobile">Mobile</th>
          <th pSortableColumn="Message">Message</th>

          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-contact>
        <tr [class.notRead]="!contact.isRead">
          <td>{{ contact.username }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.mobile }}</td>
          <td>{{ contact.message | slice: 0:200 }}</td>

          <td class="d-flex gap">
            <button pButton pRipple (click)="showForm(contact)" icon="pi pi-replay text-white fs-20"
              class="p-button-rounded p-button-success p-mr-2"></button>

            <!-- <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="onDelete(contact.id)"
            ></button> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are
          {{ listContact ? listContact.length : 0 }} Messages.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [header]="'Messages'" [(visible)]="displayForm" [modal]="true" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false" (onHide)="resetForm()">
  <div class="card-body">
    <div class="media">
      <div class="avatar">
        <div>
          {{ selected?.username?.charAt(0) }}
        </div>
      </div>
      <div class="media-body mx-2">
        <h5 class="mt-0">{{ selected?.username }}</h5>
        <div>
          {{ selected?.email }}
        </div>
        <div class="text-muted fs-12 p-1">{{selected?.messageDate}}</div>
      </div>
    </div>

    <hr />
    <div class="mt-2">
      {{ selected?.message }}
    </div>
  </div>
  <hr />
  <h5>Replay :</h5>
  <form (ngSubmit)="onSubmit()" [formGroup]="formContact" #form="ngForm">
    <div class="form-group">
      <label for=""></label>
      <textarea class="form-control" name="" id="" rows="3" required formControlName="message"></textarea>
    </div>

    <button class="btn btn-success" type="submit">Send</button>
  </form>
</p-dialog>
