<div class="card shadow border-0">
  <div class="card-header">
    <div class="text-primary font-weight-bold">Products</div>
  </div>
  <div class="card-body">
    <p-table
      #dt
      [rows]="10"
      [value]="products"
      [paginator]="true"
      responsiveLayout="scroll"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between overflow-auto">
          <button
            type="button"
            class="btn btn-success"
            (click)="showForm(null)"
          >
            Add
          </button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th>Image</th>
          <th pSortableColumn="price">
            Type <p-sortIcon field="price"></p-sortIcon>
          </th>
          <th>Is Visible</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
          <td>{{ product.name }}</td>
          <td>
            <img
              [src]="product.image"
              [alt]="product.name"
              width="100"
              class="p-shadow-4"
            />
          </td>
          <td>{{ product.type }}</td>
          <th>
            <i
              *ngIf="product.isVisible"
              class="fa fa-eye text-success"
              aria-hidden="true"
            ></i>
            <i
              *ngIf="!product.isVisible"
              class="fa fa-eye-slash text-danger"
              aria-hidden="true"
            ></i>
          </th>
          <td>
            <div class="d-flex gap">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                (click)="showForm(product)"
                class="p-button-rounded p-button-warning p-mr-2"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                (click)="onDelete(product.id)"
                class="p-button-rounded p-button-danger"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{ products ? products.length : 0 }} products.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Add Client"
  [(visible)]="displayForm"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="resetForm()"
>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        placeholder="name..."
        formControlName="name"
      />

      <!--! error Message --->
      <div
        *ngIf="Name.errors?.required && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Name is Required
      </div>

      <div
        *ngIf="Name.errors?.minlength && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Name minimum length is {{ Name.errors.minlength.requiredLength }}
      </div>

      <div
        *ngIf="Name.errors?.maxlength && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Name maximum length is {{ Name.errors.maxlength.requiredLength }}
      </div>
    </div>

    <!-- -------------------------------- Image -------------------------------- -->
    <div class="form-group">
      <label for="Image">Image</label>
      <p-fileUpload
        id="Image"
        url="./upload.php"
        (onSelect)="onUpload($event)"
        (onRemove)="onClear()"
        *ngIf="displayForm"
        [multiple]="false"
        accept="image/*"
        [showUploadButton]="false"
        [showCancelButton]="false"
      >
      </p-fileUpload>

      <div
        *ngIf="Image.errors?.required && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Image is Required
      </div>
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      <input
        type="text"
        class="form-control"
        name="type"
        id="type"
        placeholder="type..."
        formControlName="type"
      />

      <div
        *ngIf="Type.errors?.required && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Type is Required
      </div>
    </div>

    <div class="col-6 my-3">
      <div class="d-flex gap">
        <label class="fs-large">Is Visible</label>
        <p-inputSwitch formControlName="isVisible"></p-inputSwitch>
      </div>
    </div>

    <div></div>

    <div class="d-flex justify-content-center mt-3">
      <button
        *ngIf="!selected"
        type="submit"
        class="btn btn-success rounded-pill px-4"
      >
        Add
      </button>

      <button
        *ngIf="selected"
        type="submit"
        class="btn btn-primary rounded-pill px-4"
      >
        Edit
      </button>
    </div>
  </form>
</p-dialog>
