.badge {
  width: 80px;
}

agm-map {
  height: 250px;
  transition: none !important;
  border-radius: 0.5rem;
}

.small-window {
  width: 150px;
  height: 80px;
}

.badge {
  background-color: #303030;
}
