.gap {
  gap: 16px;
}

.setting {
  border-radius: 5rem;
  width: 40px;
  height: 40px;
  text-align: center;
  color: black;
}

.setting:hover,
.setting:focus {
  color: black !important;
}

.card-title {
  text-transform: capitalize;
}

.bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.row-gap {
  row-gap: 12px;
}
