.list-group-item {
  border: 0;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px dashed #bcbcbc !important;
  border-radius: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: block;
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  height: 60px;
}

@media (min-width: 992px) {
  .mt-custom {
    margin-top: 72px;
  }
}

.icon {
  width: 22px;
  height: 22px;
}

.text-black {
  color: black !important;
}

.phone {
  fill: #b58d2e;
}

.basic-package-bacckground {
  background: url("../../../assets/images/dashboard/dash-card1.jpg");
  background-size: 100%;
  color: white;
  border-radius: 16px;
}
