<div
  id="container"
  class="px-2 py-5  d-flex flex-column justify-content-center align-items-center bg h-100 px-sm-0"
>
  <div class="px-3 col-lg-4 col-12 col-md-6 droid-font">
    <div class="py-3 card rounded-16">
      <div class="px-4 card-body">
        <div class="text-center text-black fs-lg-30 fs-20 font-w-500">
          إعادة تعيين كلمة المرور
        </div>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" #form="ngForm">
          <div class="mt-3">
            <div class="form-group">
              <label for="password" class="mb-3 fs-14 text-b58d2e"
                >كلمة المرور الجديدة</label
              >
              <input
                type="password"
                class="form-control py-2-5"
                name="password"
                id="password"
                formControlName="password"
                placeholder="كلمة المرور"
              />

              <div
                *ngIf="Password.hasError('required') && form.submitted"
                class="p-1 error-msg small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                كلمة المرور مطلوب
              </div>

              <div
                *ngIf="Password.errors?.minlength && form.submitted"
                class="p-1 error-msg small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                اقل عدد للأحرف هو
                <span class="mx-1">{{
                  Password.errors?.minlength.requiredLength
                }}</span>
              </div>
            </div>

            <div class="mt-4 form-group">
              <label for="cpassword" class="mb-3 fs-14 text-b58d2e"
                >تأكيد كلمة المرور الجديدة</label
              >
              <input
                type="password"
                class="form-control py-2-5"
                name="cpassword"
                id="cpassword"
                formControlName="confirmPassword"
                placeholder="تأكيد كلمة المرور"
              />

              <div
                *ngIf="Password.hasError('required') && form.submitted"
                class="p-1 error-msg small"
                role="alert"
              >
                <i class="fas fa-times-circle me-2"></i>
                برجاء تأكيد كلمة المرور
              </div>
            </div>

            <div class="gap-3 mt-4 d-grid">
              <button class="btn btn-dark py-2-5" type="submit">
                إعادة التعيين
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <a
      href="tel:+920000000"
      class="py-1 text-black bg-white btn btn-second-gold"
    >
      <div class="gap-3 d-flex align-items-center hover-revers">
        <svg-icon
          src="assets/images/icons/phone.svg"
          svgClass="phone"
        ></svg-icon>
        <div class="d-flex flex-column align-items-start">
          <div class="fs-12 font-w-600">اتصل بنا 24/7</div>
          <div class="fs-18 font-w-600">{{ site?.companyPhone }}</div>
        </div>
      </div>
    </a>
  </div>
</div>
