<div class="card shadow border-0">
  <div class="card-header">
    <div class="text-primary font-weight-bold">Main Forms</div>
  </div>
  <div class="card-body">
    <p-table
      [value]="listMainForm"
      #dt
      [rows]="10"
      [paginator]="true"
      responsiveLayout="scroll"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="d-flex justify-content-between overflow-auto">
          <button
            type="button"
            class="btn btn-success"
            (click)="showForm(null)"
          >
            Add
          </button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id">
            Id
            <p-sortIcon field="id"></p-sortIcon>
            <p-columnFilter
              type="number"
              field="id"
              display="menu"
              class="p-ml-auto"
            ></p-columnFilter>
          </th>
          <th pSortableColumn="Name">
            Name
            <p-sortIcon field="Name"></p-sortIcon>
            <p-columnFilter
              type="text"
              field="name"
              display="menu"
              class="p-ml-auto"
            ></p-columnFilter>
          </th>
          <th>DisplayNameAr</th>
          <th>DisplayNameEn</th>

          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-main>
        <tr>
          <td>{{ main?.id }}</td>
          <td>{{ main?.name }}</td>
          <td>
            {{ main?.displayNameAr }}
          </td>
          <td>
            {{ main?.displayNameEn }}
          </td>

          <td class="d-flex gap justify-content-end">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-warning p-mr-2"
              (click)="showForm(main)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-mr-2"
              (click)="delete(main)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are
          {{ listMainForm ? listMainForm.length : 0 }} listMainForm.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [header]="!selected ? 'Add Main Form' : 'Update Main Form'"
  [(visible)]="displayForm"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="resetForm()"
>
  <form [formGroup]="mainForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="form-group">
      <label for="Name">Name</label>
      <input
        type="text"
        class="form-control"
        name="Name"
        id="Name"
        placeholder="Enter Main Form Name.."
        formControlName="name"
      />

      <!--! error Message --->
      <div
        *ngIf="Name.hasError('required') && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Name For Main Form is Required
      </div>

      <!--! error Message --->
      <div
        *ngIf="Name.hasError('pattern') && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Name For Main Form is invalid
      </div>
    </div>

    <!---Name AR-->
    <div class="form-group">
      <label for="displayNameAr"> Display Name Ar </label>
      <input
        type="text"
        class="form-control"
        name="displayNameAr"
        id="displayNameAr"
        placeholder="Enter Main Form Arabic Name.."
        formControlName="displayNameAr"
      />

      <!--! error Message --->
      <div
        *ngIf="NameAr.hasError('required') && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Name with Arabic For Main Form is Required
      </div>
    </div>

    <div class="form-group">
      <label for="displayNameEn">Display Name En</label>
      <input
        type="text"
        class="form-control"
        name="displayNameEn"
        id="displayNameEn"
        placeholder="Enter Main Form Name.."
        formControlName="displayNameEn"
      />

      <!--! error Message --->
      <div
        *ngIf="NameEn.hasError('required') && form.submitted"
        class="error-msg p-1 small"
        role="alert"
      >
        <i class="fas fa-times-circle me-2"></i>
        Name With English For Main Form is Required
      </div>
    </div>
    <p-dropdown
      [options]="listDepts"
      optionLabel="name"
      optionValue="id"
      formControlName="DepartementId"
      placeholder="Select Departement"
    ></p-dropdown>
    <div class="d-flex justify-content-center">
      <button
        *ngIf="!selected"
        type="submit"
        class="btn btn-success mt-3 rounded-pill py-2 px-4"
      >
        Add
      </button>
      <button
        *ngIf="selected"
        type="submit"
        class="btn btn-success mt-3 rounded-pill py-2 px-4"
      >
        Update
      </button>
    </div>
  </form>
</p-dialog>
