.gap {
  gap: 12px;
}
.gap-5 {
  gap: 10px;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem;
}

.fs-20 {
  font-size: 1.125rem;
}
