.header-emp {
  background: url("../../../../../assets/images/dashboard/dash-card1.jpg");
  background-size: 100%;
  color: white;
  border-radius: 16px;
}

.text-fdd100 {
  color: #fdd100;
}
.text-00a6ee {
  color: #00a6ee;
}
.text-50ca27 {
  color: #50ca27;
}

agm-map {
  height: 250px;
  transition: none !important;
  border-radius: 0.5rem;
}

.small-window {
  width: 150px;
  height: 80px;
}

.badge {
  background-color: #303030;
}
